<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Shift Table - Cisco Shift Click</title>
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Shift Click</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Queue</a>
                    <div class="dropdown-menu">
                        {% for item in returnData.shiftDataSet %}
                        <a class="dropdown-item" href="/queue/{{ item[0] }}">{{ item[0] }} </a>
                        {% endfor %}
                    </div>
                </li>

                <li> <a class="nav-link" data-toggle="collapse" href="#help" role="button" aria-expanded="false"
                        aria-controls="help">
                        How to
                    </a>
                </li>

        </div>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link " href="mailto:yuxuliu@cisco.com">Open a case</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ">CEC: {{ returnData.cecId }} {% if returnData.queueName %} Q:
                    {{ returnData.queueName }} {% endif %}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link " href="/logout">Logout</a>
            </li>
        </ul>
    </nav>



    <div class="container">
        <div class="collapse" id="help" style="margin-top:15px">
            <div class="alert alert-secondary" role="alert">
                TEST:</br>
                <code>
                        DEMO1                    
                    </br>DEMO2</code>
            </div>
        </div>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert" style="margin-top:15px">
            {% for message in messages %}
            {{ message|safe }}
        </div>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        <div class="row " style="margin-top:15px">

            <div class="col-sm-12 center-block">

                <div class="table-responsive">


                    <table class="table table-borderless  table-light  text-center">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 30px">QUEUE</th>
                                <th scope="col" style="width: 100px">CEC SUM.</th>
                                <th scope="col" style="width: 100px">SR SUM.</th>
                                <th scope="col" style="width: 150px">AVG.</th>
                                <th scope="col">SHIFT</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in returnData.shiftDataSet%}
                            <tr>
                                <td><a href="/queue/{{ item[0] }}/">{{ item[0] }}</a> </td>
                                <td>{{ item[1] }}</td>
                                <td>{{ item[2] }}</td>
                                <td>{{ item[3] }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                            role="progressbar" style="width: {{ item[4] }}">{{ item[2] }}</div>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <b>SUM</b>
                                </td>
                               
                                <td><b>{{ returnData.sumList[0] }}</b></td>
                                <td><b>{{ returnData.sumList[1] }}</b></td>
                                <td><b>{{ returnData.sumList[2] }}</b></td>
                                <td></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

    <script>


    </script>

</body>

</html>